@media screen and (max-width: 992px) {
    main {
        top: 8.5rem !important;
    }

    footer {
        display: block !important;
    }

    .page-title {
        font-size: 45px !important;
    }

    .page-subtitle {
        font-size: 25px !important;
    }

    .collapse-content {
        margin-left: 0 !important;
    }
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('./assets/images/buildings.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff !important;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    min-height: 100vh;
}

header {
    background-color: #051937;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100%;
}

header .navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
}

main {
    position: absolute;
    top: 20rem; /* Height of the header */
    bottom: 7rem; /* Height of the footer */
    left: 0;
    right: 0;
    overflow-y: auto;
}

footer {
    background-color: #6b6b6b;
    bottom: 0;
    display: none;
    height: 6rem;
    padding-top: 1rem;
    position: fixed;
    width: 100%;
}

label {
    font-weight: bold;
}

.collapse-section {
    margin-top: 0.5rem !important;
}

.page-title {
    font-size: 80px;
    font-weight: bold;
}

.page-subtitle {
    font-size: 60px;
    font-weight: bold;
}

.page-description {
    font-size: 18px;
}

.navbar {
    justify-content: space-between !important;
    padding: 1rem 0 1rem 0 !important;
}

.navbar-brand img {
    max-width: 12.5rem;
}

.navbar-text {
    color: #ffffff !important;
    padding: 0 2rem;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.navbar-text:not(:last-of-type) {
    border-right: 1px solid #ffffff;
}

.content-header {
    color: white !important;
    text-decoration: none;
}

.collapse-content {
    margin-left: 3.5rem;
}

.form-row {
    margin-top: 0.5rem !important;
}

.form-control {
    background: none !important;
    border-radius: 0 !important;
    border-width: 0 0 1px 0 !important;
    color: #ffffff !important;
}